<html lang="pt-BR" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Solicite uma viagem ou cadastre-se como motorista | Uber Brasil</title>
    <link rel="preload"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-main-071fc322a5d12e93945b.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous" as="script">
    <link rel="preload"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-vendor-f9fbe234c58beee3abfe.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous" as="script">
    <link rel="preload"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10139-42d6d46eef77c563384b.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous" as="script">
    <link rel="preload"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10002-c10e897a2377d1957895.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous" as="script">
    <link rel="preload"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10003-1a5dcb3acd9ba0353623.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous" as="script">
    <link rel="preload"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10054-ed64e58e09b784dce15d.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous" as="script">
    <link rel="preload"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10087-a09b64d73a3a2c852d32.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous" as="script">
    <link rel="preload"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10053-1fe18f48aad512b60828.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous" as="script">
    <link rel="preload"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10138-3d26fca2fc6d49baaf92.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous" as="script">
    <link rel="preload"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-runtime-348bf7f191a5257d1416.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous" as="script">
    <script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/linkid.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=AW-856613572&amp;l=dataLayer&amp;cx=c"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=DC-9346212&amp;l=dataLayer&amp;cx=c"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=DC-8617315&amp;l=dataLayer&amp;cx=c"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=DC-8098912&amp;l=dataLayer&amp;cx=c"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=AW-962183836&amp;l=dataLayer&amp;cx=c"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=AW-782111822&amp;l=dataLayer&amp;cx=c"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=DC-5731039&amp;l=dataLayer&amp;cx=c"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=DC-8183467&amp;l=dataLayer&amp;cx=c"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=DC-5154911&amp;l=dataLayer&amp;cx=c"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=DC-5525825&amp;l=dataLayer&amp;cx=c"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script type="text/javascript" async="" charset="utf-8" id="tealium-tag-7110"
        src="//www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async="" charset="utf-8" id="utag_1491"
        src="https://www.googletagmanager.com/gtag/js?id=DC-4925147"></script>
    <script type="text/javascript" async="" charset="utf-8" id="utag_1324"
        src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d">window.performance && window.performance.mark && window.performance.mark('firstRenderStart'); __FUSION_ASSET_PATH__ = "https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/"; __NONCE__ = "da55624d-17ea-4782-9eab-31eff400ce5d"</script>
    <script defer="" src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-main-071fc322a5d12e93945b.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous"></script>
    <script defer="" src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-vendor-f9fbe234c58beee3abfe.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous"></script>
    <script defer="" src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10139-42d6d46eef77c563384b.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous"></script>
    <script defer="" src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10002-c10e897a2377d1957895.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous"></script>
    <script defer="" src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10003-1a5dcb3acd9ba0353623.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous"></script>
    <script defer="" src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10054-ed64e58e09b784dce15d.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous"></script>
    <script defer="" src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10087-a09b64d73a3a2c852d32.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous"></script>
    <script defer="" src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10053-1fe18f48aad512b60828.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous"></script>
    <script defer="" src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10138-3d26fca2fc6d49baaf92.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous"></script>
    <script defer=""
        src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-runtime-348bf7f191a5257d1416.js"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d" crossorigin="anonymous"></script>
    <script nonce="da55624d-17ea-4782-9eab-31eff400ce5d">
            (function () {
                try {
                    for (var i = 0; i < document.scripts.length; i++) {
                        var script = document.scripts[i];
                        var prevOnError = script.onerror;
                        script.onerror = function (event) {
                            var errorMessage = 'Error loading script ' + this.src;
                            console.debug(errorMessage);
                            window.onerror(
                                errorMessage,
                                'load-error-handler: ' + window.location.href,
                                0,
                                0,
                                new Error(errorMessage)
                            );
                            if (prevOnError) {
                                prevOnError(event);
                            }
                        };
                    }
                } catch (e) {
                    // we do not want this script to cause problems
                    console.debug('load-error-handler', {
                        e,
                    });
                }
            })();
    </script>

    <script nonce="da55624d-17ea-4782-9eab-31eff400ce5d">
        const messageCounts = {};
        onerror = function (m, s, l, c, e) {
            var _e = e || {};
            messageCounts[m] = (messageCounts[m] || 0) + 1;
            if (_e.__handled || messageCounts[m] > 3) return;
            var error = {};
            Object.getOwnPropertyNames(_e).forEach(function (key) {
                error[key] = e[key];
            });
            var x = new XMLHttpRequest();
            x.open('POST', '/_errors');
            x.setRequestHeader('Content-Type', 'application/json');
            x.send(
                JSON.stringify({
                    message: m,
                    source: s,
                    line: l,
                    col: c,
                    error: error,
                })
            );
            _e.__handled = true;
        };
    </script>
    <script async="" nonce="da55624d-17ea-4782-9eab-31eff400ce5d"
        src="https://tags.tiqcdn.com/utag/uber/main/prod/utag.js"></script>
    <meta name="msvalidate.01" content="813904D1791F14A7C08B0F95D62B936C">

    <meta name="google-site-verification" content="rchXWPkvl_50DRQRhfcJYNUFN09oRKmZ2fB0E16cmy0">

    <meta name="google-site-verification" content="Bjn4rtR4RnyNEyL8jxpWMgHWYsN609d3ym5JC3UnPZw">

    <meta name="google-site-verification" content="ZNd-KiQy8TBAswVsPxVO_P2hH94PzfJH7swpl_Ubyrk">

    <meta name="referrer" content="strict-origin-when-cross-origin">

    <meta property="fb:app_id" content="277064115737714">

    <meta name="twitter:site" content="@Uber">

    <meta name="twitter:card" content="app">

    <meta name="twitter:app:id:iphone" content="368677368">

    <meta name="twitter:app:id:ipad" content="368677368">

    <meta name="twitter:app:id:googleplay" content="com.ubercab">

    <meta property="og:type" content="website">
    <style class="_styletron_hydrate_">
        .ae {
            background-color: #ffffff
        }

        .af {
            min-height: 100%
        }

        .ag {
            border: none
        }

        .ah {
            clip: rect(0 0 0 0)
        }

        .ai {
            height: 1px
        }

        .aj {
            width: 1px
        }

        .ak {
            margin: -1px
        }

        .al {
            overflow: hidden
        }

        .am {
            padding: 0
        }

        .an {
            position: absolute
        }

        .ao {
            transform: translateY(-100%)
        }

        .ap {
            -webkit-transition: transform 200ms ease-out;
            -moz-transition: transform 200ms ease-out;
            transition: transform 200ms ease-out
        }

        .aq:focus {
            transform: translateY(0)
        }

        .ar:focus {
            -webkit-transition: transform 200ms ease-out;
            -moz-transition: transform 200ms ease-out;
            transition: transform 200ms ease-out
        }

        .as:focus {
            border: 0
        }

        .at:focus {
            clip: initial
        }

        .au:focus {
            height: 60px
        }

        .av:focus {
            margin: 0
        }

        .aw:focus {
            padding: 0
        }

        .ax:focus {
            position: relative
        }

        .ay:focus {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex
        }

        .az:focus {
            -webkit-box-pack: center;
            justify-content: center
        }

        .b0:focus {
            -webkit-box-align: center;
            align-items: center
        }

        .b1:focus {
            overflow: visible
        }

        .b2:focus {
            width: 100%
        }

        .b3:focus {
            z-index: 2147483647
        }

        .b4:hover {
            text-decoration: underline
        }

        .b5 {
            text-decoration: none
        }

        .b6 {
            background: #fef3ec
        }

        .b7 {
            display: block
        }

        .b8:hover {
            background: #fde9dd
        }

        .b9:target {
            display: none
        }

        .ba {
            display: none
        }

        .bb {
            font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .bc {
            font-size: 16px
        }

        .bd {
            font-weight: normal
        }

        .be {
            line-height: 24px
        }

        .bf {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex
        }

        .bg {
            padding-bottom: 12px
        }

        .bh {
            padding-top: 12px
        }

        .bi {
            border-bottom-width: 0
        }

        .bj {
            border-bottom-style: solid
        }

        .bk {
            border-bottom-color: #CBCBCB
        }

        .bl {
            background-color: #000000
        }

        .bm {
            position: relative
        }

        .bn {
            z-index: 2002
        }

        .bo {
            height: 64px
        }

        .bp {
            box-sizing: border-box
        }

        .bq {
            padding-left: 0
        }

        .br {
            padding-right: 0
        }

        .bs {
            top: 0
        }

        .bt {
            margin-left: auto
        }

        .bu {
            margin-right: auto
        }

        .bv {
            width: 100%
        }

        .bw {
            max-width: calc(1280px + 24px*2)
        }

        .bx {
            padding-left: 24px
        }

        .by {
            padding-right: 24px
        }

        .bz:first-child {
            padding: 0
        }

        .c0:last-child {
            padding: 0
        }

        .c1 {
            flex: none
        }

        .c2 {
            justify-self: flex-start
        }

        .c3 {
            -webkit-box-pack: start;
            justify-content: flex-start
        }

        .c4 {
            list-style: none
        }

        .c5 {
            margin-bottom: 0
        }

        .c6 {
            margin-top: 0
        }

        .c7 {
            margin-left: 0
        }

        .c8 {
            margin-right: 0
        }

        .c9 {
            -ms-grid-row-align: center;
            align-self: center
        }

        .ca {
            height: 100%
        }

        .cb {
            color: #FFFFFF
        }

        .cc {
            font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .cd {
            font-size: 20px
        }

        .ce {
            font-weight: 400
        }

        .cf {
            line-height: 112px
        }

        .cg {
            -webkit-transition-property: backgroundSize;
            -moz-transition-property: backgroundSize;
            transition-property: backgroundSize
        }

        .ch {
            transition-duration: 500ms
        }

        .ci {
            transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1)
        }

        .cj {
            text-underline-position: under
        }

        .ck {
            will-change: background-size
        }

        .cl {
            background-size: 0% 100%, 100% 100%
        }

        .cm {
            background-repeat: no-repeat
        }

        .cn {
            background-image: none
        }

        .co {
            background-position: 0 bottom 0 bottom
        }

        .cp:hover {
            color: #FFFFFF
        }

        .cq:hover {
            background-size: 100% 100%, 100% 100%
        }

        .cr:focus {
            outline: none
        }

        .cs:focus {
            outline-offset: 1px
        }

        .ct:focus {
            text-decoration: none
        }

        .cu:visited {
            color: #FFFFFF
        }

        .cv:active {
            color: #FFFFFF
        }

        .cw {
            text-align: left
        }

        .cx {
            white-space: nowrap
        }

        .cy {
            -webkit-box-align: center;
            align-items: center
        }

        .d0 {
            flex: 1
        }

        .d1 {
            -ms-grid-column-align: center;
            justify-self: center
        }

        .d2 {
            -webkit-box-pack: center;
            justify-content: center
        }

        .d3 {
            width: 0
        }

        .d4 {
            justify-self: flex-end
        }

        .d5 {
            -webkit-box-pack: end;
            justify-content: flex-end
        }

        .d6 {
            transform: translateX(14px)
        }

        .d7 {
            padding-right: 4px
        }

        .d8 {
            display: -webkit-inline-box;
            display: -moz-inline-box;
            display: -ms-inline-flexbox;
            display: -webkit-inline-flex;
            display: inline-flex
        }

        .d9 {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row
        }

        .da {
            border-left-width: 0
        }

        .db {
            border-top-width: 0
        }

        .dc {
            border-right-width: 0
        }

        .dd {
            border-left-style: none
        }

        .de {
            border-top-style: none
        }

        .df {
            border-right-style: none
        }

        .dg {
            border-bottom-style: none
        }

        .dh {
            outline: none
        }

        .di {
            outline-offset: -3px
        }

        .dj {
            box-shadow: none
        }

        .dk {
            -webkit-appearance: none
        }

        .dl {
            -webkit-transition-property: background;
            -moz-transition-property: background;
            transition-property: background
        }

        .dm {
            transition-duration: 200ms
        }

        .dn {
            transition-timing-function: cubic-bezier(0, 0, 1, 1)
        }

        .do {
            cursor: pointer
        }

        .dp:disabled {
            cursor: not-allowed
        }

        .dq:disabled {
            background-color: #F6F6F6
        }

        .dr:disabled {
            color: #AFAFAF
        }

        .ds {
            font-size: 14px
        }

        .dt {
            font-weight: 500
        }

        .du {
            line-height: 16px
        }

        .dv {
            border-top-right-radius: 50%
        }

        .dw {
            border-bottom-right-radius: 50%
        }

        .dx {
            border-top-left-radius: 50%
        }

        .dy {
            border-bottom-left-radius: 50%
        }

        .dz {
            padding-top: 10px
        }

        .e0 {
            padding-bottom: 10px
        }

        .e1 {
            padding-left: 10px
        }

        .e2 {
            padding-right: 10px
        }

        .e3:hover {
            background-color: #333333
        }

        .e4:active {
            background-color: #545454
        }

        .e5 {
            border-top-right-radius: 30px
        }

        .e6 {
            border-bottom-right-radius: 30px
        }

        .e7 {
            border-top-left-radius: 30px
        }

        .e8 {
            border-bottom-left-radius: 30px
        }

        .e9 {
            padding-left: 12px
        }

        .ea {
            padding-right: 12px
        }

        .eb {
            color: #000000
        }

        .ec {
            background-color: #FFFFFF
        }

        .ed:hover {
            background-color: #E2E2E2
        }

        .ee:hover {
            color: #000000
        }

        .ef:focus {
            background-color: #E2E2E2
        }

        .eg:focus {
            color: #000000
        }

        .eh {
            background-color: #EFF3FE
        }

        .ei {
            height: auto
        }

        .ej {
            min-height: auto
        }

        .ek {
            max-height: auto
        }

        .el {
            margin: 0 auto
        }

        .em {
            padding-top: 0
        }

        .et {
            padding-bottom: 0
        }

        .eu {
            background-position: center center
        }

        .ev {
            background-size: cover
        }

        .ew {
            z-index: 0
        }

        .ex {
            max-width: 100%
        }

        .f1 {
            align-self: flex-start
        }

        .f2 {
            background-color: transparent
        }

        .f9 {
            display: -ms-grid;
            display: grid
        }

        .fa {
            grid-column-gap: 16px
        }

        .fk {
            grid-row-gap: 36px
        }

        .fl {
            -ms-grid-columns: repeat(4, 1fr);
            grid-template-columns: repeat(4, 1fr)
        }

        .fm {
            justify-items: inherit
        }

        .fn {
            -ms-grid-column: 1;
            -ms-grid-column-span: -2;
            grid-column: 1/-1
        }

        .fo {
            order: 0
        }

        .fp {
            pointer-events: auto
        }

        .fq {
            color: #1E54B7
        }

        .fr {
            width: auto
        }

        .fs {
            padding-top: 16px
        }

        .ft {
            padding-right: 16px
        }

        .fu {
            padding-bottom: 16px
        }

        .fv {
            padding-left: 16px
        }

        .fw {
            border-top-left-radius: 0px
        }

        .fx {
            border-top-right-radius: 0px
        }

        .fy {
            border-bottom-right-radius: 0px
        }

        .fz {
            border-bottom-left-radius: 0px
        }

        .g0 {
            opacity: 0
        }

        .g1 {
            -webkit-transition-property: all;
            -moz-transition-property: all;
            transition-property: all
        }

        .g2 {
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
        }

        .g3 {
            -webkit-box-pack: justify;
            justify-content: space-between
        }

        .g4 {
            padding: 24px 0
        }

        .g5 {
            font-size: 18px
        }

        .g6 {
            margin-bottom: 12px
        }

        .g7 {
            color: currentColor
        }

        .g8 {
            letter-spacing: 0
        }

        .g9:nth-child(n) a {
            color: #000000
        }

        .ga:nth-child(n) a {
            text-decoration: none
        }

        .gb:nth-child(n) a {
            border-bottom: 1px solid #000000
        }

        .gc:nth-child(n) a {
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            transition: all 200ms ease
        }

        .gd:nth-child(n) a:hover {
            color: #545454
        }

        .ge:nth-child(n) a:hover {
            border-bottom: 1px solid #545454
        }

        .gf:nth-child(n) p a u {
            text-decoration: none
        }

        .gg:nth-child(n) a u {
            text-decoration: none
        }

        .gh:nth-child(n) strong {
            font-weight: 500
        }

        .gi:nth-child(n) b {
            font-weight: 500
        }

        .gj:nth-child(n)>* {
            margin-top: 15px
        }

        .gk:nth-child(n)>* {
            margin-bottom: 15px
        }

        .gl:nth-child(n) *:first-of-type {
            margin-top: 0
        }

        .gm:nth-child(n) *:last-of-type {
            margin-bottom: 0
        }

        .gn:nth-child(n) img {
            max-width: 100%
        }

        .go:nth-child(n) p {
            color: currentColor
        }

        .gp:nth-child(n) h1 {
            color: currentColor
        }

        .gq:nth-child(n) h1 {
            font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .gr:nth-child(n) h1 {
            font-weight: 500
        }

        .gs:nth-child(n) h1 {
            font-size: 36px
        }

        .gt:nth-child(n) h1 {
            line-height: 44px
        }

        .h2:nth-child(n) h2 {
            color: currentColor
        }

        .h3:nth-child(n) h2 {
            font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .h4:nth-child(n) h2 {
            font-weight: 500
        }

        .h5:nth-child(n) h2 {
            font-size: 28px
        }

        .h6:nth-child(n) h2 {
            line-height: 36px
        }

        .hf:nth-child(n) h3 {
            color: currentColor
        }

        .hg:nth-child(n) h3 {
            font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .hh:nth-child(n) h3 {
            font-weight: 500
        }

        .hi:nth-child(n) h3 {
            font-size: 24px
        }

        .hj:nth-child(n) h3 {
            line-height: 32px
        }

        .hk:nth-child(n) h4 {
            color: currentColor
        }

        .hl:nth-child(n) h4 {
            font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .hm:nth-child(n) h4 {
            font-weight: 500
        }

        .hn:nth-child(n) h4 {
            font-size: 18px
        }

        .ho:nth-child(n) h4 {
            line-height: 24px
        }

        .hp:nth-child(n) h5 {
            color: currentColor
        }

        .hq:nth-child(n) h5 {
            font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .hr:nth-child(n) h5 {
            font-weight: 500
        }

        .hs:nth-child(n) h5 {
            font-size: 16px
        }

        .ht:nth-child(n) h5 {
            line-height: 20px
        }

        .hu:nth-child(n) h6 {
            color: currentColor
        }

        .hv:nth-child(n) h6 {
            font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .hw:nth-child(n) h6 {
            font-weight: 500
        }

        .hx:nth-child(n) h6 {
            font-size: 14px
        }

        .hy:nth-child(n) h6 {
            line-height: 16px
        }

        .hz:nth-child(n) table {
            border-collapse: collapse
        }

        .i0:nth-child(n) table {
            display: block
        }

        .i1:nth-child(n) table {
            overflow-x: scroll
        }

        .i5:nth-child(n) table th {
            text-align: left
        }

        .i6:nth-child(n) table th {
            padding: 12px
        }

        .i7:nth-child(n) thead th {
            font-family: 'UberMoveText', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif
        }

        .i8:nth-child(n) thead th {
            font-size: 16px
        }

        .i9:nth-child(n) thead th {
            font-weight: 400
        }

        .ia:nth-child(n) thead th {
            line-height: 24px
        }

        .ib:nth-child(n) thead th {
            color: #545454
        }

        .ic:nth-child(n) thead th {
            padding-bottom: 7px
        }

        .id:nth-child(n) tbody td {
            font-family: 'UberMoveText', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif
        }

        .ie:nth-child(n) tbody td {
            font-size: 16px
        }

        .if:nth-child(n) tbody td {
            font-weight: 400
        }

        .ig:nth-child(n) tbody td {
            line-height: 24px
        }

        .ih:nth-child(n) tbody td {
            color: #545454
        }

        .ii:nth-child(n) tbody td {
            padding: 24px 16px 24px
        }

        .ij:nth-child(n) tbody>tr {
            border-bottom: 1px solid #CBCBCB
        }

        .ik:nth-child(n) ul {
            color: currentColor
        }

        .il:nth-child(n) ul {
            list-style-type: disc
        }

        .im:nth-child(n) ul ul {
            list-style-type: circle
        }

        .in:nth-child(n) ul ul ul {
            list-style-type: square
        }

        .io:nth-child(n) ul ul ul ul {
            list-style-type: disc
        }

        .ip:nth-child(n) ol {
            color: currentColor
        }

        .iq:nth-child(n) ol {
            list-style-type: decimal
        }

        .ir:nth-child(n) ol {
            padding-left: 20px
        }

        .is:nth-child(n) ol {
            padding-top: 0
        }

        .it:nth-child(n) ol {
            margin: 0
        }

        .iu:nth-child(n) ol ol {
            list-style-type: lower-latin
        }

        .iv:nth-child(n) ol ol ol {
            list-style-type: lower-roman
        }

        .iw:nth-child(n) ol ol ol ol {
            list-style-type: decimal
        }

        .ix:nth-child(n) p:first-of-type {
            margin: 0
        }

        .iy:nth-child(n) p:last-of-type {
            margin-top: 10px
        }

        .iz:nth-child(n) p:last-of-type {
            margin-bottom: 0
        }

        .j0:nth-child(n) li {
            padding-left: 15px
        }

        .j1:nth-child(n) li>p {
            margin-top: 10px
        }

        .j2:nth-child(n) li>p {
            padding: 0
        }

        .j3:nth-child(n) li>p:last-of-type {
            margin-top: 0
        }

        .j4:nth-child(n) li>p:last-of-type {
            margin-bottom: 10px
        }

        .j5:nth-child(n) li>p:last-of-type {
            padding: 0
        }

        .j6:nth-child(n) p:only-of-type {
            margin: 0
        }

        .j7 {
            font-size: 24px
        }

        .j8 {
            flex-shrink: 0
        }

        .j9:focus {
            outline: -webkit-focus-ring-color auto 5px
        }

        .ja {
            background-color: #EEEEEE
        }

        .jb {
            min-height: 760px
        }

        .ji {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column
        }

        .jr {
            border-bottom: 1px solid #EEEEEE
        }

        .js {
            flex-directoin: row
        }

        .jt {
            -webkit-box-lines: nowrap;
            flex-wrap: nowrap
        }

        .ju {
            opacity: .98
        }

        .jv {
            text-align: center
        }

        .jw {
            z-index: 2
        }

        .jx {
            -webkit-overflow-scrolling: touch
        }

        .jy::-webkit-scrollbar {
            display: none
        }

        .jz {
            -ms-overflow-style: none
        }

        .k5 {
            line-height: 20px
        }

        .k6 {
            border-bottom: none
        }

        .k7 {
            display: inline-block
        }

        .k8:focus {
            color: #545454
        }

        .k9:focus {
            outline-offset: -2px
        }

        .ka {
            -webkit-transition: color 200ms ease;
            -moz-transition: color 200ms ease;
            transition: color 200ms ease
        }

        .kb {
            outline-offset: 0
        }

        .kc {
            padding-bottom: 20px
        }

        .kd {
            padding-top: 28px
        }

        .ke {
            -webkit-transition: all 100ms cubic-bezier(.8, .2, .6, 1);
            -moz-transition: all 100ms cubic-bezier(.8, .2, .6, 1);
            transition: all 100ms cubic-bezier(.8, .2, .6, 1)
        }

        .kf:hover {
            color: #545454
        }

        .kp {
            object-fit: cover
        }

        .kq {
            -webkit-transition: all 250ms ease;
            -moz-transition: all 250ms ease;
            transition: all 250ms ease
        }

        .kr {
            margin-top: 8px
        }

        .kv {
            bottom: 0
        }

        .kw {
            height: 4px
        }

        .kx {
            left: 0
        }

        .ky {
            transition-duration: 0.6s
        }

        .kz {
            -webkit-transition-property: transform;
            -moz-transition-property: transform;
            transition-property: transform
        }

        .l0 {
            transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1)
        }

        .l1 {
            align-content: start
        }

        .l2 {
            direction: ltr
        }

        .l8 {
            opacity: 1
        }

        .l9 {
            visibility: visible
        }

        .lh {
            z-index: 1
        }

        .ll {
            font-size: 36px
        }

        .lm {
            line-height: 44px
        }

        .lv {
            -webkit-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
            -moz-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
            transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1)
        }

        .lw {
            margin: 0
        }

        .lx {
            margin-top: 24px
        }

        .ly {
            margin-bottom: 18px
        }

        .lz {
            margin-top: 18px
        }

        .m4 {
            -webkit-box-lines: multiple;
            flex-wrap: wrap
        }

        .m7:first-child {
            margin-right: 24px
        }

        .m8:disabled {
            color: #545454
        }

        .m9 {
            margin-top: 12px
        }

        .ma {
            padding-top: 14px
        }

        .mb {
            padding-bottom: 14px
        }

        .mc {
            padding-left: 25px
        }

        .md {
            padding-right: 25px
        }

        .me {
            align-self: auto
        }

        .mf {
            background: transparent
        }

        .mm {
            line-height: 32px
        }

        .mn {
            background-image: -webkit-linear-gradient(transparent calc(100% - 1px),
                    #000000 1px),
                -webkit-linear-gradient(transparent calc(100% - 1px),
                    #CBCBCB 1px);
            background-image: -moz-linear-gradient(transparent calc(100% - 1px),
                    #000000 1px),
                -moz-linear-gradient(transparent calc(100% - 1px),
                    #CBCBCB 1px);
            background-image: linear-gradient(transparent calc(100% - 1px),
                    #000000 1px),
                linear-gradient(transparent calc(100% - 1px),
                    #CBCBCB 1px)
        }

        .mo {
            background-size: 0% 6px, 100% 6px
        }

        .mp {
            background-position: 0 bottom, 0 bottom
        }

        .mq {
            -webkit-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
            -moz-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1)
        }

        .mr {
            padding-bottom: 6px
        }

        .ms {
            width: calc(100%)
        }

        .mt:hover {
            background-size: 100% 6px, 100% 6px
        }

        .mu {
            -ms-grid-column: 1;
            -ms-grid-column-span: 12;
            grid-column: 1 / 13
        }

        .mv {
            -ms-grid-row: 2;
            grid-row: 2
        }

        .my {
            padding-bottom: calc(3/4 * 100%)
        }

        .mz {
            right: 0
        }

        .n0 {
            padding-bottom: 0px
        }

        .n1 {
            transform: scaleX(1)
        }

        .n2 {
            z-index: -1
        }

        .n3 {
            visibility: hidden
        }

        .n4 {
            height: 480px
        }

        .n5 {
            min-height: 480px
        }

        .n6 {
            background-image: url(https://www.uber-assets.com/image/upload/v1557179373/assets/1e/106eb3-58af-445d-98dd-41403530fd36/original/modalities_3x2.jpg)
        }

        .na {
            min-width: 100%
        }

        .nb {
            top: 50%
        }

        .nc {
            left: 50%
        }

        .nd {
            transform: translate(-50%, -50%) scaleX(1)
        }

        .ne {
            color: #333333
        }

        .nf {
            padding-top: 40px
        }

        .nm {
            padding-bottom: 40px
        }

        .nq {
            margin-bottom: 16px
        }

        .nw {
            font-size: 28px
        }

        .nx {
            line-height: 36px
        }

        .o4 {
            width: calc(100% - 40px)
        }

        .o5 {
            -webkit-box-pack: left;
            justify-content: left
        }

        .o6 {
            height:
        }

        .oc {
            -ms-grid-row-align: start;
            align-self: start
        }

        .oe {
            margin-bottom: 20px
        }

        .oh {
            padding-bottom: calc(2/3 * 100%)
        }

        .oo {
            align-self: top
        }

        .op {
            order: 2
        }

        .oq {
            margin-right: 24px
        }

        .or:last-child {
            margin-right: 0
        }

        .ot {
            order: 1
        }

        .ou {
            cursor: default
        }

        .ov::before {
            content: ""
        }

        .ow::before {
            width: 1px
        }

        .ox::before {
            margin-left: -1px
        }

        .oy::before {
            float: left
        }

        .oz::before {
            height: 0
        }

        .p0::before {
            padding-top: 66.66666666666667%
        }

        .p1::before {
            pointer-events: none
        }

        .p2::after {
            content: ""
        }

        .p3::after {
            display: table
        }

        .p4::after {
            clear: both
        }

        .p5 {
            height: 24px
        }

        .p6 {
            width: 24px
        }

        .p7 {
            padding-bottom: calc(1/1 * 100%)
        }

        .pe {
            background-color: primary
        }

        .pf {
            border-bottom: 1px solid black
        }

        .pg {
            border-color: none
        }

        .ph {
            -webkit-transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
            -moz-transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
            transition: 100ms cubic-bezier(0.4, 0, 0.2, 1)
        }

        .pi {
            -webkit-box-align: stretch;
            align-items: stretch
        }

        .pj {
            color: black
        }

        .pr {
            -ms-grid-column: 1;
            grid-column-start: 1
        }

        .ps {
            grid-column-end: 2
        }

        .pt {
            -ms-grid-column: 2;
            grid-column-start: 2
        }

        .pu {
            grid-column-end: 3
        }

        .pv {
            float: right
        }

        .pw {
            transform: none
        }

        .px {
            width: 30px
        }

        .py {
            transform: translateX(0)
        }

        .pz {
            width: 7em
        }

        .q0 {
            animation-name:
        }

        .q1 {
            animation-fill-mode: forwards
        }

        .q2 {
            animation-play-state: running
        }

        .q3 {
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
        }

        .q4 {
            animation-duration: 650ms
        }

        .q5 {
            width: 1em
        }

        .q6 {
            -webkit-transition: 100ms;
            -moz-transition: 100ms;
            transition: 100ms
        }

        .qd {
            grid-column: span 12
        }

        .qg:focus {
            outline: 3px solid #276EF1
        }

        .qh {
            font-size: inherit
        }

        .qi {
            line-height: 1
        }

        .qj:focus {
            color: #FFFFFF
        }

        .qk:active {
            color: #757575
        }

        .qm {
            color: inherit
        }

        .qn {
            padding-bottom: 2px
        }

        .qo:hover:after {
            content: ''
        }

        .qp:hover:after {
            position: absolute
        }

        .qq:hover:after {
            width: 100%
        }

        .qr:hover:after {
            bottom: 0
        }

        .qs:hover:after {
            left: 0
        }

        .qt:hover:after {
            right: 0
        }

        .qu:hover:after {
            height: 1px
        }

        .qv:hover:after {
            color: #FFFFFF
        }

        .qw:hover:after {
            background: #FFFFFF
        }

        .qx:focus:after {
            content: ''
        }

        .qy:focus:after {
            position: absolute
        }

        .qz:focus:after {
            width: 100%
        }

        .r0:focus:after {
            bottom: 0
        }

        .r1:focus:after {
            left: 0
        }

        .r2:focus:after {
            right: 0
        }

        .r3:focus:after {
            height: 1px
        }

        .r4:focus:after {
            color: #FFFFFF
        }

        .r5:focus:after {
            background: #FFFFFF
        }

        .r6 {
            line-height: inherit
        }

        .r7:hover {
            color: #AFAFAF
        }

        .r8:hover {
            text-decoration: none
        }

        .r9:focus {
            color: #AFAFAF
        }

        .ra:visited {
            text-decoration: none
        }

        .rc {
            grid-column: span 3
        }

        .rd {
            grid-auto-flow: row
        }

        .re {
            -webkit-box-align: start;
            align-items: flex-start
        }

        .rf {
            grid-auto-flow: column
        }

        .rg {
            transform: translateX(-12px)
        }

        .rh {
            justify-items: start
        }

        .rl {
            grid-gap: 12px
        }

        .rm {
            padding-left: 14px
        }

        .rn {
            padding-right: 14px
        }

        .ro {
            margin-right: 12px
        }

        .rp {
            text-decoration: underline
        }

        .rq:visited {
            color: #333333
        }

        .rr {
            color: #AFAFAF
        }

        .rs {
            font-size: 12px
        }

        .rt {
            grid-column: span 5
        }

        .rw {
            -ms-grid-row: 3;
            grid-row: 3
        }

        .rx {
            max-width: 1280px
        }

        .s6 {
            flex: 0 0 auto
        }

        .s7 {
            font-family: 'UberMoveText', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif
        }

        .s8 {
            margin-bottom: 13px
        }

        .s9 {
            margin-top: 31px
        }

        .sc {
            min-height: 52px
        }

        .sd {
            background-color: #F6F6F6
        }

        .se {
            padding-right: 33px
        }

        .sf {
            padding-left: 41px
        }

        .sg {
            padding-top: 11px
        }

        .sh {
            padding-bottom: 11px
        }

        .si {
            text-overflow: ellipsis
        }

        .sj {
            right: 15px
        }

        .sk {
            opacity: 0.2
        }

        .sl:hover {
            opacity: 1
        }

        .sm:focus {
            opacity: 1
        }

        .sn {
            flex: 1 1 auto
        }

        .so {
            top: 33px
        }

        .sp {
            bottom: 33px
        }

        .sq {
            left: 22px
        }

        .sr:before {
            content: ""
        }

        .ss:before {
            position: absolute
        }

        .st:before {
            left: -3px
        }

        .su:before {
            width: 5px
        }

        .sv:before {
            height: 5px
        }

        .sw:before {
            bottom: -10px
        }

        .sx:before {
            border: 1px solid #000000
        }

        .sy:before {
            background-color: #F6F6F6
        }

        .sz:after {
            content: ""
        }

        .t0:after {
            position: absolute
        }

        .t1:after {
            left: -3px
        }

        .t2:after {
            width: 6px
        }

        .t3:after {
            height: 6px
        }

        .t4:after {
            top: -10px
        }

        .t5:after {
            border-radius: 50%
        }

        .t6:after {
            border: 1px solid #000000
        }

        .t7:after {
            background-color: #F6F6F6
        }

        .t8 {
            -webkit-box-pack: start;
            justify-content: start
        }

        .t9 {
            margin-top: 19px
        }

        .ta:read-only * {
            box-sizing: border-box
        }

        .tb:active {
            background-color: #CBCBCB
        }
    </style>
    <style class="_styletron_hydrate_" media="screen and (min-width: 320px)">
        .en {
            padding-top: 0
        }

        .eo {
            padding-bottom: 0
        }

        .ey {
            max-width: 100%
        }

        .f3 {
            padding-right: 24px
        }

        .f4 {
            padding-left: 24px
        }

        .fb {
            grid-column-gap: 16px
        }

        .fc {
            grid-row-gap: 36px
        }

        .fd {
            -ms-grid-columns: repeat(4, 1fr);
            grid-template-columns: repeat(4, 1fr)
        }

        .jc {
            padding-right: 0
        }

        .jd {
            padding-left: 0
        }

        .jp {
            -ms-grid-column: 1;
            grid-column: 1
        }

        .jq {
            -ms-grid-row: 1;
            grid-row: 1
        }

        .k3 {
            -webkit-box-pack: start;
            justify-content: start
        }

        .k4 {
            overflow-y: scroll
        }

        .ki {
            width: 105px
        }

        .kn {
            height: 18px
        }

        .ko {
            width: 18px
        }

        .ku {
            min-height: 48px
        }

        .l7 {
            -ms-grid-rows: auto auto;
            grid-template-rows: auto auto
        }

        .lf {
            background-color: #FFFFFF
        }

        .lg {
            -ms-grid-column: 1;
            -ms-grid-column-span: 4;
            grid-column: 1 / 5
        }

        .lk {
            padding: 24px
        }

        .mg {
            width: auto
        }

        .mh {
            height: auto
        }

        .mx {
            -ms-grid-row: 2;
            grid-row: 2
        }

        .n7 {
            background-image: url(https://www.uber-assets.com/image/upload/v1557179373/assets/1e/106eb3-58af-445d-98dd-41403530fd36/original/modalities_3x2.jpg)
        }

        .ng {
            padding-top: 40px
        }

        .nh {
            padding-bottom: 40px
        }

        .nn {
            -ms-grid-column: 1;
            -ms-grid-column-span: -2;
            grid-column: 1/-1
        }

        .nt {
            margin-bottom: 0
        }

        .o9 {
            margin-bottom: 16px
        }

        .oi {
            margin-bottom: 12px
        }

        .ol {
            margin-bottom: 20px
        }

        .p9 {
            width: 100%
        }

        .pa {
            height: 100%
        }

        .pm {
            padding-bottom: 23px
        }

        .pp {
            -webkit-box-align: inherit;
            align-items: inherit
        }

        .pq {
            -ms-grid-columns: 70% 30%;
            grid-template-columns: 70% 30%
        }

        .qa {
            font-size: 36px
        }

        .qe {
            grid-column: span 12
        }

        .s4 {
            direction: ltr
        }

        .s5 {
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            grid-row: 1 / 2
        }
    </style>
    <style class="_styletron_hydrate_" media="screen and (min-width: 600px)">
        .ep {
            padding-top: 0
        }

        .eq {
            padding-bottom: 0
        }

        .ez {
            max-width: 100%
        }

        .f5 {
            padding-right: 32px
        }

        .f6 {
            padding-left: 32px
        }

        .fe {
            grid-column-gap: 36px
        }

        .ff {
            grid-row-gap: 36px
        }

        .fg {
            -ms-grid-columns: repeat(8, 1fr);
            grid-template-columns: repeat(8, 1fr)
        }

        .gu:nth-child(n) h1 {
            font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .gv:nth-child(n) h1 {
            font-size: 44px
        }

        .gw:nth-child(n) h1 {
            font-weight: 500
        }

        .gx:nth-child(n) h1 {
            line-height: 52px
        }

        .h7:nth-child(n) h2 {
            font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .h8:nth-child(n) h2 {
            font-size: 32px
        }

        .h9:nth-child(n) h2 {
            font-weight: 500
        }

        .ha:nth-child(n) h2 {
            line-height: 40px
        }

        .je {
            padding-right: 0
        }

        .jf {
            padding-left: 0
        }

        .jn {
            -ms-grid-column: 1;
            grid-column: 1
        }

        .jo {
            -ms-grid-row: 1;
            grid-row: 1
        }

        .k1 {
            -webkit-box-pack: start;
            justify-content: start
        }

        .k2 {
            overflow-y: scroll
        }

        .kh {
            width: 105px
        }

        .kl {
            height: 18px
        }

        .km {
            width: 18px
        }

        .kt {
            min-height: 48px
        }

        .l6 {
            -ms-grid-rows: auto auto;
            grid-template-rows: auto auto
        }

        .ld {
            background-color: #FFFFFF
        }

        .le {
            -ms-grid-column: 1;
            -ms-grid-column-span: 8;
            grid-column: 1 / 9
        }

        .lj {
            padding: 32px
        }

        .ln {
            font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .lo {
            font-size: 44px
        }

        .lp {
            font-weight: 500
        }

        .lq {
            line-height: 52px
        }

        .m5 {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex
        }

        .mi {
            width: auto
        }

        .mj {
            height: auto
        }

        .mw {
            -ms-grid-row: 2;
            grid-row: 2
        }

        .n8 {
            background-image: url(https://www.uber-assets.com/image/upload/v1557179373/assets/1e/106eb3-58af-445d-98dd-41403530fd36/original/modalities_3x2.jpg)
        }

        .ni {
            padding-top: 56px
        }

        .nj {
            padding-bottom: 56px
        }

        .no {
            -ms-grid-column: 1;
            -ms-grid-column-span: -2;
            grid-column: 1/-1
        }

        .nr {
            margin-bottom: 20px
        }

        .nu {
            margin-bottom: 0
        }

        .ny {
            font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .nz {
            font-size: 32px
        }

        .o0 {
            line-height: 40px
        }

        .o7 {
            grid-column: span 7
        }

        .oa {
            grid-column: span 4
        }

        .od {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column
        }

        .of {
            margin-left: 0
        }

        .og {
            margin-right: 36px
        }

        .oj {
            margin-bottom: 12px
        }

        .pb {
            width: 100%
        }

        .pc {
            height: 100%
        }

        .pl {
            padding-bottom: 35px
        }

        .po {
            -ms-grid-columns: 70% 30%;
            grid-template-columns: 70% 30%
        }

        .qf {
            grid-column: span 8
        }

        .s2 {
            direction: ltr
        }

        .s3 {
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            grid-row: 1 / 2
        }
    </style>
    <style class="_styletron_hydrate_" media="(min-width: 768px) and (max-width: 1119px)">
        .i3:nth-child(n) table {
            width: calc(100vw - 2 * 36px)
        }

        .m0 {
            font-size: 16px
        }

        .m1 {
            line-height: 24px
        }

        .tg {
            direction: ltr
        }

        .th {
            -ms-grid-column: 1;
            grid-column: 1
        }

        .ti {
            -ms-grid-row: 2;
            grid-row: 2
        }
    </style>
    <style class="_styletron_hydrate_" media="(min-width: 1120px)">
        .i2:nth-child(n) table {
            width: calc(1280px - 2 * 64px)
        }

        .ry {
            -ms-grid-column: 2;
            -ms-grid-column-span: 2;
            grid-column: 2 / 4
        }

        .rz {
            grid-gap: 48px
        }

        .s0 {
            -ms-grid-row: 3;
            grid-row: 3
        }

        .s1 {
            -ms-grid-columns: repeat(12, 1fr);
            grid-template-columns: repeat(12, 1fr)
        }

        .tc {
            -ms-grid-column: 7;
            -ms-grid-column-span: 6;
            grid-column: 7 / 13
        }

        .td {
            margin-left: -48px
        }

        .te {
            margin-right: auto
        }

        .tf {
            width: calc(100% + 48px)
        }
    </style>
    <style class="_styletron_hydrate_" media="screen and (min-width: 1136px)">
        .cz {
            font-size: 24px
        }

        .er {
            padding-top: 0
        }

        .es {
            padding-bottom: 0
        }

        .f0 {
            max-width: 1280px
        }

        .f7 {
            padding-right: 64px
        }

        .f8 {
            padding-left: 64px
        }

        .fh {
            grid-column-gap: 36px
        }

        .fi {
            grid-row-gap: 36px
        }

        .fj {
            -ms-grid-columns: repeat(12, 1fr);
            grid-template-columns: repeat(12, 1fr)
        }

        .gy:nth-child(n) h1 {
            font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .gz:nth-child(n) h1 {
            font-size: 52px
        }

        .h0:nth-child(n) h1 {
            font-weight: 500
        }

        .h1:nth-child(n) h1 {
            line-height: 64px
        }

        .hb:nth-child(n) h2 {
            font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .hc:nth-child(n) h2 {
            font-size: 36px
        }

        .hd:nth-child(n) h2 {
            font-weight: 500
        }

        .he:nth-child(n) h2 {
            line-height: 44px
        }

        .jg {
            padding-right: 0
        }

        .jh {
            padding-left: 0
        }

        .jj {
            -ms-grid-column: 2;
            -ms-grid-column-span: 2;
            grid-column: 2 / 4
        }

        .jk {
            -ms-grid-row: 2;
            grid-row: 2
        }

        .jl {
            max-width: 1280
        }

        .jm {
            width: 100%
        }

        .k0 {
            -webkit-box-pack: justify;
            justify-content: space-around
        }

        .kg {
            min-width: 105px
        }

        .kj {
            height: 24px
        }

        .kk {
            width: 24px
        }

        .ks {
            min-height: 40px
        }

        .l3 {
            grid-gap: 0 36px
        }

        .l4 {
            -ms-grid-rows: 1fr;
            grid-template-rows: 1fr
        }

        .l5 {
            -webkit-box-pack: center;
            justify-content: center
        }

        .la {
            background-color: transparent
        }

        .lb {
            -ms-grid-column: 1;
            -ms-grid-column-span: 6;
            grid-column: 1 / 7
        }

        .lc {
            -ms-grid-row: 3;
            grid-row: 3
        }

        .li {
            padding: 48px
        }

        .lr {
            font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .ls {
            font-size: 52px
        }

        .lt {
            font-weight: 500
        }

        .lu {
            line-height: 64px
        }

        .m6 {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex
        }

        .mk {
            width: auto
        }

        .ml {
            height: auto
        }

        .n9 {
            background-image: url(https://www.uber-assets.com/image/upload/v1556927537/assets/e4/ade93c-0b7b-4990-bda4-afef96793277/original/Modalities_banner_home.jpg)
        }

        .nk {
            padding-top: 64px
        }

        .nl {
            padding-bottom: 64px
        }

        .np {
            grid-column: span 5
        }

        .ns {
            margin-bottom: 24px
        }

        .nv {
            margin-bottom: 0
        }

        .o1 {
            font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .o2 {
            font-size: 36px
        }

        .o3 {
            line-height: 44px
        }

        .o8 {
            grid-column: span 8
        }

        .ob {
            grid-column: span 4
        }

        .ok {
            margin-bottom: 12px
        }

        .om {
            margin-bottom: 20px
        }

        .on {
            -ms-grid-column: 1;
            grid-column: 1 / span 5
        }

        .os {
            -ms-grid-column: 7;
            grid-column: 7 / span 6
        }

        .p8 {
            grid-column: span 6
        }

        .pd {
            height: 100%
        }

        .pk {
            padding-bottom: 40px
        }

        .pn {
            -ms-grid-columns: 60% 40%;
            grid-template-columns: 60% 40%
        }

        .q7 {
            font-size: 44px
        }

        .q8 {
            position: relative
        }

        .q9 {
            left: -3px
        }

        .qb {
            display: -ms-grid;
            display: grid
        }

        .qc {
            grid-column: span 1
        }

        .ql {
            margin-bottom: 48px
        }

        .rb {
            text-align: right
        }

        .ri {
            grid-auto-flow: column
        }

        .rj {
            -webkit-box-align: center;
            align-items: center
        }

        .rk {
            -webkit-box-pack: start;
            justify-content: start
        }

        .ru {
            -webkit-box-pack: end;
            justify-content: end
        }

        .rv {
            grid-gap: 32px
        }
    </style>
    <style class="_styletron_hydrate_" media="(max-width: 767px)">
        .i4:nth-child(n) table {
            width: calc(100vw - 2 * 24px)
        }

        .m2 {
            font-size: 16px
        }

        .m3 {
            line-height: 24px
        }

        .sa {
            margin-bottom: 26px
        }

        .sb {
            margin-top: 20px
        }

        .tj {
            direction: ltr
        }

        .tk {
            -ms-grid-column: 1;
            grid-column: 1
        }

        .tl {
            -ms-grid-row: 2;
            grid-row: 2
        }
    </style>
    <style>
        @font-face {
            font-family: "Book";
            font-display: fallback;
            src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/ca614426b50ca7d007056aa00954764b.woff2") format("woff2"), url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/a9e39356639e85c045725ab277a8d423.woff") format("woff");
        }

        @font-face {
            font-family: "NarrowBook";
            font-display: fallback;
            src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/322ef517d4366b6d2e55af44fe6dd05f.woff2") format("woff2"), url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/057646e5b3e43b30888f8976820ceaee.woff") format("woff");
        }

        @font-face {
            font-family: "Medium";
            font-display: fallback;
            src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/ad875b9818771a1350232d99278c40e8.woff2") format("woff2"), url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/49e5932ee0897877dbf33c945b7e408f.woff") format("woff");
        }

        @font-face {
            font-family: "NarrowMedium";
            font-display: fallback;
            src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/9ca41305c38625ac6c4b7a5335420d00.woff2") format("woff2"), url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/191e75f6673a9363a32523de53ad2eb3.woff") format("woff");
        }

        @font-face {
            font-family: "News";
            font-display: fallback;
            src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/ca104da8af9a2e0771e8fe2b31f8ec1e.woff2") format("woff2"), url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/f39b50d5fd213136c91b31d423ab89f1.woff") format("woff");
        }

        @font-face {
            font-family: "NarrowNews";
            font-display: fallback;
            src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/04c6c155263aad7478c156d986e4226b.woff2") format("woff2"), url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/722885a2080b965d312c5519b73be745.woff") format("woff");
        }

        @font-face {
            font-family: "Thin";
            font-display: fallback;
            src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/03b64805a8cd2d53fadc5814445c2fb5.woff2") format("woff2"), url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/341462317dd033a9d3d14a14a55e9d09.woff") format("woff");
        }

        @font-face {
            font-family: "NarrowThin";
            font-display: fallback;
            src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/5ca591585a92d40bf383af1868766e4e.woff2") format("woff2"), url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/5ff63ae1fc81f9f6c5d5c7718c0d0d32.woff") format("woff");
        }
    </style>
    <meta data-rh="true" name="viewport" content="width=device-width, initial-scale=1">
    <link data-rh="true" rel="shortcut icon" type="image/x-icon"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/17677bc2cadb48697a3d2da2efc65d8c.ico">
    <link data-rh="true" rel="icon" type="image/x-icon"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/17677bc2cadb48697a3d2da2efc65d8c.ico">
    <link data-rh="true" rel="apple-touch-icon"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/db8765b06b1bd0300a0e0b5effc080d4.png">
    <link data-rh="true" rel="apple-touch-icon"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/db8765b06b1bd0300a0e0b5effc080d4.png">
    <link data-rh="true" rel="apple-touch-icon" sizes="76x76"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/d3d6618f8d13e971f2024833ce299a46.png">
    <link data-rh="true" rel="apple-touch-icon" sizes="120x120"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/7e324bc145c8e79f172c37bf43e33749.png">
    <link data-rh="true" rel="apple-touch-icon" sizes="120x120"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/7e324bc145c8e79f172c37bf43e33749.png">
    <link data-rh="true" rel="apple-touch-icon" sizes="144x144"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/279d7632228f25f24aa2f9299a28798b.png">
    <link data-rh="true" rel="apple-touch-icon" sizes="180x180"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/45befcd0141f81fc0f7b84c4e7c47161.png">
    <style data-rh="true">
        html,
        body,
        #root {
            min-height: 100%;
        }

        html {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        body {
            margin: 0;
        }

        button::-moz-focus-inner,
        input::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button,
        input::-webkit-search-cancel-button,
        input::-webkit-search-decoration,
        input::-webkit-search-results-button,
        input::-webkit-search-results-decoration {
            display: none;
        }
    </style>
    <style data-rh="true">
        @font-face {
            font-family: 'UberMove';
            src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Light.woff2') format('woff2'),
                url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Light.woff') format('woff');
            font-weight: 200;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'UberMove';
            src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Regular.woff2') format('woff2'),
                url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'UberMove';
            src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Medium.woff2') format('woff2'),
                url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Medium.woff') format('woff');
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'UberMove';
            src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Bold.woff2') format('woff2'),
                url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Bold.woff') format('woff');
            font-weight: 600;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'UberMoveText';
            src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Light.woff2') format('woff2'),
                url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Light.woff') format('woff');
            font-weight: 200;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'UberMoveText';
            src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Regular.woff2') format('woff2'),
                url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'UberMoveText';
            src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Medium.woff2') format('woff2'),
                url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Medium.woff') format('woff');
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'UberMoveText';
            src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Bold.woff2') format('woff2'),
                url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Bold.woff') format('woff');
            font-weight: 600;
            font-style: normal;
            font-display: swap;
        }
    </style>
    <script type="text/javascript" async="" charset="utf-8" id="utag_uber.main_44"
        src="//tags.tiqcdn.com/utag/uber/main/prod/utag.44.js?utv=ut4.44.202008312348"></script>
    <script type="application/json" id="__PAGE_CACHE__">
          {\u0022cacheKey\u0022:\u0022v4:uber-sites:page-cache:www.uber.com:/br/pt-br/:_________:pt-BR:1390:\u0022,\u0022fresh\u0022:true}
        </script>
    <script type="text/javascript" async="" charset="utf-8" id="utag_uber.main_1480"
        src="//tags.tiqcdn.com/utag/uber/main/prod/utag.1480.js?utv=ut4.44.202010230055"></script>
    <script type="text/javascript" async="" charset="utf-8" id="utag_uber.main_1533"
        src="//tags.tiqcdn.com/utag/uber/main/prod/utag.1533.js?utv=ut4.44.202010230055"></script>
    <script type="text/javascript" async="" charset="utf-8" id="utag_uber.main_1553"
        src="//tags.tiqcdn.com/utag/uber/main/prod/utag.1553.js?utv=ut4.44.202010230055"></script>
    <script charset="utf-8" nonce="da55624d-17ea-4782-9eab-31eff400ce5d"
        src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10089-d1ae0c89a2d2091e0767.js"
        crossorigin="anonymous"></script>
    <script charset="utf-8" nonce="da55624d-17ea-4782-9eab-31eff400ce5d"
        src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10009-8a7e39a584976527ece8.js"
        crossorigin="anonymous"></script>
    <script charset="utf-8" nonce="da55624d-17ea-4782-9eab-31eff400ce5d"
        src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10094-1d1fd97022bdf411c36e.js"
        crossorigin="anonymous"></script>
    <script charset="utf-8" nonce="da55624d-17ea-4782-9eab-31eff400ce5d"
        src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10017-4dcfe39b729dde9c4cb1.js"
        crossorigin="anonymous"></script>
    <script charset="utf-8" nonce="da55624d-17ea-4782-9eab-31eff400ce5d"
        src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10107-9a20fc3203453347d0eb.js"
        crossorigin="anonymous"></script>
    <script charset="utf-8" nonce="da55624d-17ea-4782-9eab-31eff400ce5d"
        src="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/client-legacy-10083-9bf3b4de108f69a994bc.js"
        crossorigin="anonymous"></script>
    <script
        src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/782111822/?random=1605043640080&amp;cv=9&amp;fst=1605043640080&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=864&amp;u_w=1536&amp;u_ah=834&amp;u_aw=1536&amp;u_cd=24&amp;u_his=2&amp;u_tz=-180&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2oaas1&amp;sendb=1&amp;ig=1&amp;data=event%3Dgtag.config&amp;frm=0&amp;url=https%3A%2F%2Fwww.uber.com%2Fbr%2Fpt-br%2F&amp;tiba=Solicite%20uma%20viagem%20ou%20cadastre-se%20como%20motorista%20%7C%20Uber%20Brasil&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script
        src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/962183836/?random=1605043640082&amp;cv=9&amp;fst=1605043640082&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=864&amp;u_w=1536&amp;u_ah=834&amp;u_aw=1536&amp;u_cd=24&amp;u_his=2&amp;u_tz=-180&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2oaas1&amp;sendb=1&amp;ig=1&amp;data=event%3Dgtag.config&amp;frm=0&amp;url=https%3A%2F%2Fwww.uber.com%2Fbr%2Fpt-br%2F&amp;tiba=Solicite%20uma%20viagem%20ou%20cadastre-se%20como%20motorista%20%7C%20Uber%20Brasil&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script
        src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/856613572/?random=1605043640083&amp;cv=9&amp;fst=1605043640083&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=864&amp;u_w=1536&amp;u_ah=834&amp;u_aw=1536&amp;u_cd=24&amp;u_his=2&amp;u_tz=-180&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2oaas1&amp;sendb=1&amp;ig=1&amp;data=event%3Dgtag.config&amp;frm=0&amp;url=https%3A%2F%2Fwww.uber.com%2Fbr%2Fpt-br%2F&amp;tiba=Solicite%20uma%20viagem%20ou%20cadastre-se%20como%20motorista%20%7C%20Uber%20Brasil&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <link rel="canonical" href="https://www.uber.com/br/pt-br/" data-rh="true">
    <link rel="alternate" hreflang="ar-ae" href="https://www.uber.com/ae/ar/" data-rh="true">
    <link rel="alternate" hreflang="en-ae" href="https://www.uber.com/ae/en/" data-rh="true">
    <link rel="alternate" hreflang="en-ar" href="https://www.uber.com/ar/en/" data-rh="true">
    <link rel="alternate" hreflang="es-ar" href="https://www.uber.com/ar/es/" data-rh="true">
    <link rel="alternate" hreflang="de-at" href="https://www.uber.com/at/de/" data-rh="true">
    <link rel="alternate" hreflang="en-at" href="https://www.uber.com/at/en/" data-rh="true">
    <link rel="alternate" hreflang="en-au" href="https://www.uber.com/au/en/" data-rh="true">
    <link rel="alternate" hreflang="zh-Hans-au" href="https://www.uber.com/au/zh/" data-rh="true">
    <link rel="alternate" hreflang="en-bd" href="https://www.uber.com/bd/en/" data-rh="true">
    <link rel="alternate" hreflang="en-be" href="https://www.uber.com/be/en/" data-rh="true">
    <link rel="alternate" hreflang="fr-be" href="https://www.uber.com/be/fr/" data-rh="true">
    <link rel="alternate" hreflang="nl-be" href="https://www.uber.com/be/nl/" data-rh="true">
    <link rel="alternate" hreflang="bg-bg" href="https://www.uber.com/bg/bg/" data-rh="true">
    <link rel="alternate" hreflang="en-bg" href="https://www.uber.com/bg/en/" data-rh="true">
    <link rel="alternate" hreflang="ar-bh" href="https://www.uber.com/bh/ar/" data-rh="true">
    <link rel="alternate" hreflang="en-bh" href="https://www.uber.com/bh/en/" data-rh="true">
    <link rel="alternate" hreflang="en-bo" href="https://www.uber.com/bo/en/" data-rh="true">
    <link rel="alternate" hreflang="es-bo" href="https://www.uber.com/bo/es/" data-rh="true">
    <link rel="alternate" hreflang="en-br" href="https://www.uber.com/br/en/" data-rh="true">
    <link rel="alternate" hreflang="pt-br" href="https://www.uber.com/br/pt-br/" data-rh="true">
    <link rel="alternate" hreflang="en-ca" href="https://www.uber.com/ca/en/" data-rh="true">
    <link rel="alternate" hreflang="fr-ca" href="https://www.uber.com/ca/fr-ca/" data-rh="true">
    <link rel="alternate" hreflang="de-ch" href="https://www.uber.com/ch/de/" data-rh="true">
    <link rel="alternate" hreflang="en-ch" href="https://www.uber.com/ch/en/" data-rh="true">
    <link rel="alternate" hreflang="fr-ch" href="https://www.uber.com/ch/fr/" data-rh="true">
    <link rel="alternate" hreflang="en-ci" href="https://www.uber.com/ci/en/" data-rh="true">
    <link rel="alternate" hreflang="fr-ci" href="https://www.uber.com/ci/fr/" data-rh="true">
    <link rel="alternate" hreflang="en-cl" href="https://www.uber.com/cl/en/" data-rh="true">
    <link rel="alternate" hreflang="es-cl" href="https://www.uber.com/cl/es/" data-rh="true">
    <link rel="alternate" hreflang="en-co" href="https://www.uber.com/co/en/" data-rh="true">
    <link rel="alternate" hreflang="es-co" href="https://www.uber.com/co/es/" data-rh="true">
    <link rel="alternate" hreflang="en-cr" href="https://www.uber.com/cr/en/" data-rh="true">
    <link rel="alternate" hreflang="es-cr" href="https://www.uber.com/cr/es/" data-rh="true">
    <link rel="alternate" hreflang="cs-cz" href="https://www.uber.com/cz/cs/" data-rh="true">
    <link rel="alternate" hreflang="en-cz" href="https://www.uber.com/cz/en/" data-rh="true">
    <link rel="alternate" hreflang="ru-cz" href="https://www.uber.com/cz/ru/" data-rh="true">
    <link rel="alternate" hreflang="de-de" href="https://www.uber.com/de/de/" data-rh="true">
    <link rel="alternate" hreflang="en-de" href="https://www.uber.com/de/en/" data-rh="true">
    <link rel="alternate" hreflang="da-dk" href="https://www.uber.com/dk/da/" data-rh="true">
    <link rel="alternate" hreflang="en-dk" href="https://www.uber.com/dk/en/" data-rh="true">
    <link rel="alternate" hreflang="en-do" href="https://www.uber.com/do/en/" data-rh="true">
    <link rel="alternate" hreflang="es-do" href="https://www.uber.com/do/es/" data-rh="true">
    <link rel="alternate" hreflang="en-ec" href="https://www.uber.com/ec/en/" data-rh="true">
    <link rel="alternate" hreflang="es-ec" href="https://www.uber.com/ec/es/" data-rh="true">
    <link rel="alternate" hreflang="en-ee" href="https://www.uber.com/ee/en/" data-rh="true">
    <link rel="alternate" hreflang="et-ee" href="https://www.uber.com/ee/et/" data-rh="true">
    <link rel="alternate" hreflang="ru-ee" href="https://www.uber.com/ee/ru/" data-rh="true">
    <link rel="alternate" hreflang="ar-eg" href="https://www.uber.com/eg/ar/" data-rh="true">
    <link rel="alternate" hreflang="en-eg" href="https://www.uber.com/eg/en/" data-rh="true">
    <link rel="alternate" hreflang="en-es" href="https://www.uber.com/es/en/" data-rh="true">
    <link rel="alternate" hreflang="es-es" href="https://www.uber.com/es/es-es/" data-rh="true">
    <link rel="alternate" hreflang="en-fi" href="https://www.uber.com/fi/en/" data-rh="true">
    <link rel="alternate" hreflang="fi-fi" href="https://www.uber.com/fi/fi/" data-rh="true">
    <link rel="alternate" hreflang="en-fr" href="https://www.uber.com/fr/en/" data-rh="true">
    <link rel="alternate" hreflang="fr-fr" href="https://www.uber.com/fr/fr/" data-rh="true">
    <link rel="alternate" hreflang="en-gb" href="https://www.uber.com/gb/en/" data-rh="true">
    <link rel="alternate" hreflang="en-gh" href="https://www.uber.com/gh/en/" data-rh="true">
    <link rel="alternate" hreflang="el-gr" href="https://www.uber.com/gr/el/" data-rh="true">
    <link rel="alternate" hreflang="en-gr" href="https://www.uber.com/gr/en/" data-rh="true">
    <link rel="alternate" hreflang="en-gt" href="https://www.uber.com/gt/en/" data-rh="true">
    <link rel="alternate" hreflang="es-gt" href="https://www.uber.com/gt/es/" data-rh="true">
    <link rel="alternate" hreflang="en-hk" href="https://www.uber.com/hk/en/" data-rh="true">
    <link rel="alternate" hreflang="zh-Hant-hk" href="https://www.uber.com/hk/zh-hk/" data-rh="true">
    <link rel="alternate" hreflang="en-hn" href="https://www.uber.com/hn/en/" data-rh="true">
    <link rel="alternate" hreflang="es-hn" href="https://www.uber.com/hn/es/" data-rh="true">
    <link rel="alternate" hreflang="en-hr" href="https://www.uber.com/hr/en/" data-rh="true">
    <link rel="alternate" hreflang="hr-hr" href="https://www.uber.com/hr/hr/" data-rh="true">
    <link rel="alternate" hreflang="en-hu" href="https://www.uber.com/hu/en/" data-rh="true">
    <link rel="alternate" hreflang="hu-hu" href="https://www.uber.com/hu/hu/" data-rh="true">
    <link rel="alternate" hreflang="en-ie" href="https://www.uber.com/ie/en/" data-rh="true">
    <link rel="alternate" hreflang="en-il" href="https://www.uber.com/il/en/" data-rh="true">
    <link rel="alternate" hreflang="he-il" href="https://www.uber.com/il/he/" data-rh="true">
    <link rel="alternate" hreflang="ru-il" href="https://www.uber.com/il/ru/" data-rh="true">
    <link rel="alternate" hreflang="bn-in" href="https://www.uber.com/in/bn/" data-rh="true">
    <link rel="alternate" hreflang="en-in" href="https://www.uber.com/in/en/" data-rh="true">
    <link rel="alternate" hreflang="hi-in" href="https://www.uber.com/in/hi/" data-rh="true">
    <link rel="alternate" hreflang="kn-in" href="https://www.uber.com/in/kn/" data-rh="true">
    <link rel="alternate" hreflang="mr-in" href="https://www.uber.com/in/mr/" data-rh="true">
    <link rel="alternate" hreflang="ta-in" href="https://www.uber.com/in/ta/" data-rh="true">
    <link rel="alternate" hreflang="te-in" href="https://www.uber.com/in/te/" data-rh="true">
    <link rel="alternate" hreflang="ur-in" href="https://www.uber.com/in/ur/" data-rh="true">
    <link rel="alternate" hreflang="en-it" href="https://www.uber.com/it/en/" data-rh="true">
    <link rel="alternate" hreflang="it-it" href="https://www.uber.com/it/it/" data-rh="true">
    <link rel="alternate" hreflang="ar-jo" href="https://www.uber.com/jo/ar/" data-rh="true">
    <link rel="alternate" hreflang="en-jo" href="https://www.uber.com/jo/en/" data-rh="true">
    <link rel="alternate" hreflang="en-jp" href="https://www.uber.com/jp/en/" data-rh="true">
    <link rel="alternate" hreflang="ja-jp" href="https://www.uber.com/jp/ja/" data-rh="true">
    <link rel="alternate" hreflang="zh-Hans-jp" href="https://www.uber.com/jp/zh/" data-rh="true">
    <link rel="alternate" hreflang="en-ke" href="https://www.uber.com/ke/en/" data-rh="true">
    <link rel="alternate" hreflang="en-kr" href="https://www.uber.com/kr/en/" data-rh="true">
    <link rel="alternate" hreflang="ko-kr" href="https://www.uber.com/kr/ko/" data-rh="true">
    <link rel="alternate" hreflang="zh-Hans-kr" href="https://www.uber.com/kr/zh/" data-rh="true">
    <link rel="alternate" hreflang="ar-kw" href="https://www.uber.com/kw/ar/" data-rh="true">
    <link rel="alternate" hreflang="en-kw" href="https://www.uber.com/kw/en/" data-rh="true">
    <link rel="alternate" hreflang="ar-lb" href="https://www.uber.com/lb/ar/" data-rh="true">
    <link rel="alternate" hreflang="en-lb" href="https://www.uber.com/lb/en/" data-rh="true">
    <link rel="alternate" hreflang="en-lk" href="https://www.uber.com/lk/en/" data-rh="true">
    <link rel="alternate" hreflang="en-lt" href="https://www.uber.com/lt/en/" data-rh="true">
    <link rel="alternate" hreflang="lt-lt" href="https://www.uber.com/lt/lt/" data-rh="true">
    <link rel="alternate" hreflang="ru-lt" href="https://www.uber.com/lt/ru/" data-rh="true">
    <link rel="alternate" hreflang="ar-ma" href="https://www.uber.com/ma/ar/" data-rh="true">
    <link rel="alternate" hreflang="en-ma" href="https://www.uber.com/ma/en/" data-rh="true">
    <link rel="alternate" hreflang="fr-ma" href="https://www.uber.com/ma/fr/" data-rh="true">
    <link rel="alternate" hreflang="en-mx" href="https://www.uber.com/mx/en/" data-rh="true">
    <link rel="alternate" hreflang="es-mx" href="https://www.uber.com/mx/es/" data-rh="true">
    <link rel="alternate" hreflang="en-ng" href="https://www.uber.com/ng/en/" data-rh="true">
    <link rel="alternate" hreflang="en-ni" href="https://www.uber.com/ni/en/" data-rh="true">
    <link rel="alternate" hreflang="es-ni" href="https://www.uber.com/ni/es/" data-rh="true">
    <link rel="alternate" hreflang="en-nl" href="https://www.uber.com/nl/en/" data-rh="true">
    <link rel="alternate" hreflang="nl-nl" href="https://www.uber.com/nl/nl/" data-rh="true">
    <link rel="alternate" hreflang="en-no" href="https://www.uber.com/no/en/" data-rh="true">
    <link rel="alternate" hreflang="nb-no" href="https://www.uber.com/no/nb/" data-rh="true">
    <link rel="alternate" hreflang="en-nz" href="https://www.uber.com/nz/en/" data-rh="true">
    <link rel="alternate" hreflang="en-pa" href="https://www.uber.com/pa/en/" data-rh="true">
    <link rel="alternate" hreflang="es-pa" href="https://www.uber.com/pa/es/" data-rh="true">
    <link rel="alternate" hreflang="en-pe" href="https://www.uber.com/pe/en/" data-rh="true">
    <link rel="alternate" hreflang="es-pe" href="https://www.uber.com/pe/es/" data-rh="true">
    <link rel="alternate" hreflang="en-pk" href="https://www.uber.com/pk/en/" data-rh="true">
    <link rel="alternate" hreflang="ur-pk" href="https://www.uber.com/pk/ur/" data-rh="true">
    <link rel="alternate" hreflang="en-pl" href="https://www.uber.com/pl/en/" data-rh="true">
    <link rel="alternate" hreflang="pl-pl" href="https://www.uber.com/pl/pl/" data-rh="true">
    <link rel="alternate" hreflang="en-pt" href="https://www.uber.com/pt/en/" data-rh="true">
    <link rel="alternate" hreflang="pt-pt" href="https://www.uber.com/pt/pt-pt/" data-rh="true">
    <link rel="alternate" hreflang="en-py" href="https://www.uber.com/py/en/" data-rh="true">
    <link rel="alternate" hreflang="es-py" href="https://www.uber.com/py/es/" data-rh="true">
    <link rel="alternate" hreflang="ar-qa" href="https://www.uber.com/qa/ar/" data-rh="true">
    <link rel="alternate" hreflang="en-qa" href="https://www.uber.com/qa/en/" data-rh="true">
    <link rel="alternate" hreflang="en-ro" href="https://www.uber.com/ro/en/" data-rh="true">
    <link rel="alternate" hreflang="ro-ro" href="https://www.uber.com/ro/ro/" data-rh="true">
    <link rel="alternate" hreflang="ar-sa" href="https://www.uber.com/sa/ar/" data-rh="true">
    <link rel="alternate" hreflang="en-sa" href="https://www.uber.com/sa/en/" data-rh="true">
    <link rel="alternate" hreflang="en-se" href="https://www.uber.com/se/en/" data-rh="true">
    <link rel="alternate" hreflang="sv-se" href="https://www.uber.com/se/sv/" data-rh="true">
    <link rel="alternate" hreflang="en-sk" href="https://www.uber.com/sk/en/" data-rh="true">
    <link rel="alternate" hreflang="sk-sk" href="https://www.uber.com/sk/sk/" data-rh="true">
    <link rel="alternate" hreflang="en-sv" href="https://www.uber.com/sv/en/" data-rh="true">
    <link rel="alternate" hreflang="es-sv" href="https://www.uber.com/sv/es/" data-rh="true">
    <link rel="alternate" hreflang="en-tr" href="https://www.uber.com/tr/en/" data-rh="true">
    <link rel="alternate" hreflang="tr-tr" href="https://www.uber.com/tr/tr/" data-rh="true">
    <link rel="alternate" hreflang="en-tw" href="https://www.uber.com/tw/en/" data-rh="true">
    <link rel="alternate" hreflang="zh-Hant-tw" href="https://www.uber.com/tw/zh-tw/" data-rh="true">
    <link rel="alternate" hreflang="en-tz" href="https://www.uber.com/tz/en/" data-rh="true">
    <link rel="alternate" hreflang="sw-tz" href="https://www.uber.com/tz/sw/" data-rh="true">
    <link rel="alternate" hreflang="en-ua" href="https://www.uber.com/ua/en/" data-rh="true">
    <link rel="alternate" hreflang="ru-ua" href="https://www.uber.com/ua/ru/" data-rh="true">
    <link rel="alternate" hreflang="uk-ua" href="https://www.uber.com/ua/uk/" data-rh="true">
    <link rel="alternate" hreflang="en-ug" href="https://www.uber.com/ug/en/" data-rh="true">
    <link rel="alternate" hreflang="en-us" href="https://www.uber.com/" data-rh="true">
    <link rel="alternate" hreflang="es-us" href="https://www.uber.com/us/es/" data-rh="true">
    <link rel="alternate" hreflang="zh-Hans-us" href="https://www.uber.com/us/zh/" data-rh="true">
    <link rel="alternate" hreflang="en-uy" href="https://www.uber.com/uy/en/" data-rh="true">
    <link rel="alternate" hreflang="es-uy" href="https://www.uber.com/uy/es/" data-rh="true">
    <link rel="alternate" hreflang="en-za" href="https://www.uber.com/za/en/" data-rh="true">
    <meta name="description"
        content="Cadastre-se ou faa o login como motorista parceiro, ou solicite uma viagem aqui. Aprenda o que  o Uber e como ele funciona no Brasil."
        data-rh="true">
    <meta property="og:title" content="Solicite uma viagem ou cadastre-se como motorista | Uber Brasil" data-rh="true">
    <meta property="og:description"
        content="Cadastre-se ou faa o login como motorista parceiro, ou solicite uma viagem aqui. Aprenda o que  o Uber e como ele funciona no Brasil."
        data-rh="true">
    <meta property="og:type" content="website" data-rh="true">
    <meta property="og:url" content="https://www.uber.com/br/pt-br/" data-rh="true">
    <meta property="og:image"
        content="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/f452c7aefd72a6f52b36705c8015464e.jpg" data-rh="true">
    <meta property="og:site_name" content="Uber" data-rh="true">
    <meta name="twitter:card" content="app" data-rh="true">
    <meta name="twitter:site" content="@Uber" data-rh="true">
    <meta name="twitter:app:id:iphone" content="368677368" data-rh="true">
    <meta name="twitter:app:id:ipad" content="368677368" data-rh="true">
    <meta name="twitter:app:id:googleplay" content="com.ubercab" data-rh="true">
    <script
        src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/856613572/?random=1605043668311&amp;cv=9&amp;fst=1605043668311&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=864&amp;u_w=1536&amp;u_ah=834&amp;u_aw=1536&amp;u_cd=24&amp;u_his=2&amp;u_tz=-180&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2oaas1&amp;sendb=1&amp;ig=1&amp;data=event%3Dgtag.config&amp;frm=0&amp;url=https%3A%2F%2Fwww.uber.com%2Fbr%2Fpt-br%2F&amp;tiba=Solicite%20uma%20viagem%20ou%20cadastre-se%20como%20motorista%20%7C%20Uber%20Brasil&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script
        src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/782111822/?random=1605043668330&amp;cv=9&amp;fst=1605043668330&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=864&amp;u_w=1536&amp;u_ah=834&amp;u_aw=1536&amp;u_cd=24&amp;u_his=2&amp;u_tz=-180&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2oaas1&amp;sendb=1&amp;ig=1&amp;data=event%3Dgtag.config&amp;frm=0&amp;url=https%3A%2F%2Fwww.uber.com%2Fbr%2Fpt-br%2F&amp;tiba=Solicite%20uma%20viagem%20ou%20cadastre-se%20como%20motorista%20%7C%20Uber%20Brasil&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
    <script
        src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/962183836/?random=1605043668335&amp;cv=9&amp;fst=1605043668335&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;eid=376635471&amp;u_h=864&amp;u_w=1536&amp;u_ah=834&amp;u_aw=1536&amp;u_cd=24&amp;u_his=2&amp;u_tz=-180&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2oaas1&amp;sendb=1&amp;ig=1&amp;data=event%3Dgtag.config&amp;frm=0&amp;url=https%3A%2F%2Fwww.uber.com%2Fbr%2Fpt-br%2F&amp;tiba=Solicite%20uma%20viagem%20ou%20cadastre-se%20como%20motorista%20%7C%20Uber%20Brasil&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"
        nonce="da55624d-17ea-4782-9eab-31eff400ce5d"></script>
</head>

<body>