* {
    margin: 0;
    padding: 0;
}

header#login-page {
    background: url("https://d1a3f4spazzrp4.cloudfront.net/chameleon/cms/uploads/2016/10/24/1477347860-pattern.png")
        repeat scroll center center;
    height: 42px;
    background-size: 60px 60px;
}

.logo {
    background: black;
    top: 24px;
    left: 50%;
    position: absolute;
    padding: 40px 15px;
    margin-left: -47px;
}

.top {
    font-size: 32px;
    text-align: center;
    font-weight: 400;
    line-height: 250%;
}
