<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Uber</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#">Uber</a><button data-toggle="collapse"
                data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button"
                data-toogle="collapse"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#">Segurança</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#">Ajuda</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#">Covid-19 (Recursos)</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#">Fazer Login</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#">Cadastra-s</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ab optio dignissimos reprehenderit quam qui
        exercitationem modi maxime cum quisquam, suscipit adipisci quasi aliquid reiciendis quidem accusantium,
        veritatis quod. Perferendis.
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

<footer>
    <ul id="empresa">
        <li class="about"><a href="./assets/categories/about.html"></a>Quem Somos</a></li>
        <li class="offerings"><a href="./assets/categories/offerings.html"></a>O que oferecemos</a></li>
        <li class="news"><a href="./assets/categories/newsroom.html"></a>Newsroom</a></li>
        <li class="investors"><a href="./assets/categories/investors.html"></a>Investidores</a></li>
        <li class="blog"><a href="./assets/categories/blog.html"></a>Blog</a></li>
    </ul>
</footer>

</html>