<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <!-- Website props -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="referrer" content="origin">

    <!-- Website beautifull props -->

    <title itemprop="name"><%=title%></title>
    <meta itemprop="thumbnailUrl" content="" />
    <meta itemprop="image" content="" />
    <meta name="description" content="Projeto Uber!">
    <link rel="icon" href="" />

    <!-- Discord links -->

    <meta property="og:site_name" content="Hydra Bot">
    <meta property="og:url" content="https://uber.com/">
    <meta property="og:title" content="<%=title%>">
    <meta property="og:description" content="Projeto Uber!">
    <meta property="og:type" content="website">
    <meta name="og:image" content="">
    <meta name="theme-color" content="#ff8d1e">

    <!-- JS and Fonts -->

    <script src="public/js/jquery.js"></script>
    <script src="public/js/popper.js"></script>
    <script src="public/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/e53d13f537.js" crossorigin="anonymous"></script>

    <!-- CSS -->

    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="public/css/all.min.css">
    <link rel="stylesheet" href="public/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="public/css/adminlte.min.css">
</head>

<body>