<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <!-- Website props -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="referrer" content="origin">



    <!-- Website beautifull props -->

    <meta name="description"
        content="Cadastre-se ou faça o login como motorista parceiro, ou solicite uma viagem aqui. Aprenda o que é o Uber e como ele funciona no Brasil."
        data-rh="true">

    <!-- OG links -->
    <meta property="og:title" content="Solicite uma viagem ou cadastre-se como motorista | Uber Brasil" data-rh="true">
    <meta property="og:description"
        content="Cadastre-se ou faça o login como motorista parceiro, ou solicite uma viagem aqui. Aprenda o que é o Uber e como ele funciona no Brasil."
        data-rh="true">
    <meta property="og:type" content="website" data-rh="true">
    <meta property="og:url" content="https://www.uber.com/br/pt-br/" data-rh="true">
    <meta property="og:image"
        content="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/f452c7aefd72a6f52b36705c8015464e.jpg" data-rh="true">
    <meta property="og:site_name" content="<%=title%>" data-rh="true">

    <!-- Twitter links -->
    <meta name="twitter:card" content="app" data-rh="true">
    <meta name="twitter:site" content="@Uber" data-rh="true">
    <meta name="twitter:app:id:iphone" content="368677368" data-rh="true">
    <meta name="twitter:app:id:ipad" content="368677368" data-rh="true">
    <meta name="twitter:app:id:googleplay" content="com.ubercab" data-rh="true">
    <meta name="twitter:site" content="@Uber">
    <meta name="twitter:card" content="app">
    <meta name="twitter:app:id:iphone" content="368677368">
    <meta name="twitter:app:id:ipad" content="368677368">
    <meta name="twitter:app:id:googleplay" content="com.ubercab">


    <title itemprop="name"><%=title%></title>
    <meta itemprop="thumbnailUrl" content="" />
    <meta itemprop="image" content="" />
    <meta name="description" content="Projeto Uber!">
    <link rel="icon" href="" />

    <!-- JS and Fonts -->

    <script src="public/js/jquery.js"></script>
    <script src="public/js/popper.js"></script>
    <script src="public/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/e53d13f537.js" crossorigin="anonymous"></script>

    <!-- CSS -->

    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="public/css/all.min.css">
    <link rel="stylesheet" href="public/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="public/css/adminlte.min.css">
    <link rel="stylesheet" href="public/css/main.css">


    <link data-rh="true" rel="shortcut icon" type="image/x-icon"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/17677bc2cadb48697a3d2da2efc65d8c.ico">
    <link data-rh="true" rel="icon" type="image/x-icon"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/17677bc2cadb48697a3d2da2efc65d8c.ico">
    <link data-rh="true" rel="apple-touch-icon"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/db8765b06b1bd0300a0e0b5effc080d4.png">
    <link data-rh="true" rel="apple-touch-icon"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/db8765b06b1bd0300a0e0b5effc080d4.png">
    <link data-rh="true" rel="apple-touch-icon" sizes="76x76"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/d3d6618f8d13e971f2024833ce299a46.png">
    <link data-rh="true" rel="apple-touch-icon" sizes="120x120"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/7e324bc145c8e79f172c37bf43e33749.png">
    <link data-rh="true" rel="apple-touch-icon" sizes="120x120"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/7e324bc145c8e79f172c37bf43e33749.png">
    <link data-rh="true" rel="apple-touch-icon" sizes="144x144"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/279d7632228f25f24aa2f9299a28798b.png">
    <link data-rh="true" rel="apple-touch-icon" sizes="180x180"
        href="https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/45befcd0141f81fc0f7b84c4e7c47161.png">
    <link rel="canonical" href="https://www.uber.com/br/pt-br/" data-rh="true">
</head>

<body>