<%- include('partials/header') %>
<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container"><a data-baseweb="link" href="https://www.uber.com/br/pt-br/" target="_self"
            aria-label="Acesse Uber.com" data-tracking-name="_df920f60-6b89-4d30-b760-f5c70aab5461_logo.link_cta27"
            class="cb cc cd ce cf cg ch ci bm b5 cj ck cl cm cn co cp cq cr cs ct cu cv bs bf ca cw cx cy cz">Uber</a><button
            data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown"
                        aria-expanded="false" href="#">Empresa</a>
                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First
                            Item</a><a class="dropdown-item" role="presentation" href="#">Second
                            Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Segurança</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Ajuda</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Covid-19</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Fazer-login</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Registre-se</a></li>
            </ul>
        </div>
    </div>
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<%- include('partials/footer') %>